@import "compass_twitter_bootstrap";
@import "variables";

@font-face {
    font-family: 'ProximaNovaBold';
    src: url('../fonts/proximanova-bold-webfont.eot');
    src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-bold-webfont.woff') format('woff'),
         url('../fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-bold-webfont.svg#ProximaNovaBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/proximanova-regular-webfont.eot');
    src: url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-regular-webfont.woff') format('woff'),
         url('../fonts/proximanova-regular-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-regular-webfont.svg#ProximaNovaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  background: $bg_color url(../images/groovepaper.png) 0 0 repeat;
  background-color: $bg_color;
  border-top: 6px solid $hover_color;
  color: $text_color;
  font-family: ProximaNova, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
}

a {
  color: $link_color;
  &:hover {
    color: $hover_color;
  }
}

.l-content {
  position: relative;
  z-index: 2;
  margin-bottom: 200px;
  background-color: $bg_color;
  @include box-shadow(0 0 10px #000);
}

.masthead {
  margin: 80px 0;
  overflow: hidden;
  h1 {
    font-family: ProximaNovaBold, sans-serif;
    font-weight: normal;
    font-size: 58px;
    letter-spacing: -2px;
    line-height: 62px;
    text-transform: lowercase;
    span {
      color: $secondary_color;
    }
  }
}

.m-highlights {
  article {
    padding: 28px;
    border-top: 3px solid #000;
    background-color: rgba(#fff, .2);
  }
  figure {
    display: block;
    position: relative;
    padding: 0 0;
    margin: 0 0;
    width: 242px;
    height: 140px;
    img {
      z-index: 1;
      @include border-radius(3px);
    }
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
      width: 242px;
      height: 140px;
      @include box-shadow(inset 0 0 30px rgba(#000, 1));
      @include border-radius(3px);
    }
  }
  h1 {
    margin: 30px 0 15px;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -1px;
    color: $title_color;
  }
  p {
    line-height: 22px;
  }
}

.l-secondary-content {
  margin: 80px 0;
  h1 {
    margin: 30px 0;
    padding: 0 0 5px 0;
    color: $title_color;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: -1px;
    border-bottom: 1px solid rgba($secondary_color, .2);
  }
}

.m-works {
  ul {
    margin: 0 0;
    list-style: none;
  }
  li {
    position: relative;
    margin: 0 0;
    a {
      display: block;
      padding: 6px;
      color: #000;
      @include transition((color .2s ease-in-out, background-color .6s ease-in-out));
      &:hover {
        background-color: #000;
        color: #fff;
        text-decoration: none;
      }
      &:active {
        background-color: $hover_color;
      }
      &.hover {
        background-color: rgba($hover_color, .4);
      }
    }
  }

}

.m-about-me {
  p {
    line-height: 28px;
  }
}

.m-social {
  ul {
    list-style: square;
  }
  a {
    font-weight: bold;
  }
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 100px;
  padding: 50px 0;
  background-color: #333;
  text-transform: lowercase;
  h5 {
    margin: 0 0 16px 0;
    font-size: 14px;
    line-height: 16px;
  }
  .m-contact {
    a {
      color: #fff;
      font-size: 36px;
      font-weight: bold;
      letter-spacing: -1px;
    }
  }
  .m-credits {
    text-align: right;
    a {
      color: #ccc;
    }
  }
  a {
    text-decoration: underline;
    &:hover {
      color: lighten($hover_color, 15);
    }
  }
  h5, .m-credits li {
    color: lighten($bg_color, 15);
  }
}